@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Baloo+2&family=Permanent+Marker&family=Spectral:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');


body {
  font-family: 'Baloo 2', cursive;
  background: rgb(36,46,101);
  background: radial-gradient(circle, rgba(36,46,101,1) 65%, rgba(32,39,80,1) 74%, rgba(25,26,39,1) 92%);
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

#games-container {
  display: flex;
  flex-direction: column;
}

.game-background {
  background: rgba( 102, 252, 241, 0.8 );
  background: radial-gradient(circle, rgba(195,240,237,1) 0%, rgba(83,221,212,1) 100%);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 14.0px );
  -webkit-backdrop-filter: blur( 14.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 10px;
}
.game-background:hover {
  background: rgba(83, 221, 212, 0.8);
  background: radial-gradient(circle, rgba(195,240,237,1) 0%, rgba(71,152,146,1) 100%);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 14.0px );
  -webkit-backdrop-filter: blur( 14.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 10px;
}

.game-background-white {
  background:#7f96f1;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 14.0px );
  -webkit-backdrop-filter: blur( 14.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 15px 20px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game img {
  height: 200px;
  width: 250px;
}

.section {
  margin: 0 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
}

#logo-title {
  color: white;
}

#logo {
  height: 50px;
  background: transparent
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 15px;
}

#logout {
  color: #66fcf1
}

.section p {
  color: #1f2833;
  margin: 2px;
}

#logo-stuff {
  font-size: 20px;
}

hr {
  opacity: 70%
}

.add-to-cart-button {
  background-color: #ededed;
  color: #1f2833;
  border: none;
  width: 300px;
  border-radius: 5px;
  transition: border 0.2s ease;
  cursor: pointer;
}

.add-to-cart-button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.add-to-cart-section p {
  text-align: center;
  color: #1f2833
}

.game-name {
  font-size: 20px;
  font-weight: bolder;
  transition: border 0.2s ease;
  cursor: pointer;
}

.game-name:hover {
  color: white;
}
