@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Baloo+2&family=Permanent+Marker&family=Spectral:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Baloo 2', cursive;
  background: rgb(36,46,101);
  background: radial-gradient(circle, rgba(12,12,103,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

#games-container {
  display: flex;
  flex-direction: column;
}

.game-background {
  background: #F2F2F2CC;
  background: -webkit-radial-gradient(top, #F2F2F2CC, #66FCF2CC);
  background: -moz-radial-gradient(top, #F2F2F2CC, #66FCF2CC);
  background: radial-gradient(to bottom, #F2F2F2CC, #66FCF2CC);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 10px;
}
.game-background:hover {
  background: #F2F2F2CC;
  background: -webkit-radial-gradient(top, #F2F2F2CC, #53DDD5CC);
  background: -moz-radial-gradient(top, #F2F2F2CC, #53DDD5CC);
  background: radial-gradient(to bottom, #F2F2F2CC, #53DDD5CC);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 10px;
}

.game-background-white {
  background:#7f96f1;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 14.0px );
  -webkit-backdrop-filter: blur( 14.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 15px 20px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game img {
  height: 200px;
  width: 250px;
}

.section {
  margin: 0 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
}

#logo-title {
  color: white;
}

#logo {
  height: 50px;
  background: transparent
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 15px;
}

#nav-logout {
  color: #66fcf1
}

.section p {
  color: #1f2833;
  margin: 2px;
  font-weight: bolder;
}

#logo-stuff {
  font-size: 20px;
}

hr {
  opacity: 70%
}

.add-to-cart-button {
  background-color: #ededed;
  width: 300px;
  color: #1f2833;
  border: none;
  border-radius: 8px;
  transition: border 0.2s ease;
  cursor: pointer;
  padding: 8px;
}

.add-to-cart-button:active, .sg-add-button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.add-to-cart-section p {
  text-align: center;
  color: #1f2833
}

.game-name {
  font-size: 20px;
  font-weight: bolder;
  transition: border 0.2s ease;
  cursor: pointer;
}

.game-name:hover {
  color: white;
}

.stars span {
  color: orange
}

table, th, td {
  border: 1px solid lightgrey;
}


/* Start of Pagination */
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}
/* End of Pagination */

#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white 2px solid;
  margin: auto;
  margin-top: 100px;
  width: 400px;
  height: 520px;;
}
#signup p, #login p{
  font-weight: bolder;
  margin: 0px
}

#signup input, #login input {
  width: 200px;
  height: 20px;
  margin-bottom: 3px;
  border-radius: 8px;
}

#signup button, #login button {
  width: 205px;
  height: 30px;
  border-radius: 8px;
  font-family: 'Baloo 2', cursive;
  color: white;
  background-color: #1bf8e9;
  background: linear-gradient(31deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 0%, rgba(27,248,233,1) 100%);
  font-size: 16px;
  font-weight: bolder;
}

#signup button:active, #login button:active {
  background: #66FCF2CC;
  -webkit-box-shadow: inset 0px 0px 5px #1bf8e9;
     -moz-box-shadow: inset 0px 0px 5px #1bf8e9;
          box-shadow: inset 0px 0px 5px #1bf8e9;
  outline: none;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white 2px solid;
  margin: auto;
  margin-top: 100px;
  width: 400px;
  height: 320px;;
}

#navbar-container {
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: black
}

#nav-login:hover , #nav-signup:hover , .nav-shop:hover , .nav-cart:hover, #nav-home:hover {
  text-shadow: 2px 1px #66fcf1
}

#nav-items {
  font-size: 20px;
}

.single-game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 900px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 90px;
  background: #F2F2F2CC;
  background: -webkit-radial-gradient(top, #F2F2F2CC, #66FCF2CC);
  background: -moz-radial-gradient(top, #F2F2F2CC, #66FCF2CC);
  background: radial-gradient(to bottom, #F2F2F2CC, #66FCF2CC);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 60px;
}

.single-game-container img {
  width: 400px;
  height: 400px;
}

.single-game-info {
  width: 420px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Work Sans', sans-serif;
}
.sg-title {
  margin: 0px 0px 3px 0px;
  font-size: 30px;
  font-weight: bolder;
}

.single-game-info p {
  padding: 2px;
  margin: 0px
}

.sg-price {
  font-size: 30px;
}

.sg-desc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
}

.sg-overview {
  font-size: 22px;
  font-weight: bolder
}

.sg-add-button {
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  transition: border 0.2s ease;
  cursor: pointer;
}

.sg-game-desc {
  font-size: 18px;
}
.sg-d {
  font-size: 15px;
}

#welcome {
  font-size: 60px;
}

#message {
  font-size: 35px;
}

#text-on-image {
  z-index: 2;
  position: fixed;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#home-bg {
  width: 100%;
  height: 100vh;
  opacity: 50%;
  z-index: -2;
}

#empty-cart {
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}

#cart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#cart-summary {
  width: 300px;
  text-align: center;
}

#cart-summary button {
  height: 30px;
  width: 300px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #1bf8e9;
  background: linear-gradient(31deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 0%, rgba(27,248,233,1) 100%);
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

#cart-summary button:active {
  background: #66FCF2CC;
  -webkit-box-shadow: inset 0px 0px 5px #1bf8e9;
     -moz-box-shadow: inset 0px 0px 5px #1bf8e9;
          box-shadow: inset 0px 0px 5px #1bf8e9;
  outline: none;
}

#cart-summary-title {
  font-size: 28px;
  margin-bottom: 5px;
}
#cart-game img {
  width: 250px;
  height: 250px;
}

#cart-games {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 800px;
  background-color: grey;
  padding: 20px;
  margin: auto;
  margin-top: 100px;

}

#how-many-items {
  font-size: 27px;
}

.order-container {
  margin-top: 100px;
  text-align: center;
}
