@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Baloo+2&family=Permanent+Marker&family=Spectral:wght@200&display=swap');

body {
  font-family: 'Baloo 2', cursive;
  background-color: #0b0c10;
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

#games-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.game {
  display: flex;
  flex-direction: column;
  margin: 15px 20px;
}

.game img {
  height: 200px;
  width: 250px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

#logo-title {
  color: white;
}

#logo {
  height: 50px;
  background: transparent
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
