@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Baloo+2&family=Permanent+Marker&family=Spectral:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Baloo 2', cursive;
  background: rgb(36,46,101);
  background: radial-gradient(circle, rgba(12,12,103,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

#games-container {
  display: flex;
  flex-direction: column;
}

.game-background {
  background: #F2F2F2CC;
  background: -webkit-radial-gradient(top, #F2F2F2CC, #66FCF2CC);
  background: -moz-radial-gradient(top, #F2F2F2CC, #66FCF2CC);
  background: radial-gradient(to bottom, #F2F2F2CC, #66FCF2CC);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 10px;
}
.game-background:hover {
  background: #F2F2F2CC;
  background: -webkit-radial-gradient(top, #F2F2F2CC, #53DDD5CC);
  background: -moz-radial-gradient(top, #F2F2F2CC, #53DDD5CC);
  background: radial-gradient(to bottom, #F2F2F2CC, #53DDD5CC);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 10px;
}

.game-background-white {
  background:#7f96f1;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 14.0px );
  -webkit-backdrop-filter: blur( 14.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 15px 20px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game img {
  height: 200px;
  width: 250px;
}

.section {
  margin: 0 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
}

#logo-title {
  color: white;
}

#logo {
  height: 50px;
  background: transparent
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 15px;
}

#logout {
  color: #66fcf1
}

.section p {
  color: #1f2833;
  margin: 2px;
  font-weight: bolder;
}

#logo-stuff {
  font-size: 20px;
}

hr {
  opacity: 70%
}

.add-to-cart-button {
  background-color: #ededed;
  width: 300px;
  color: #1f2833;
  border: none;
  border-radius: 8px;
  transition: border 0.2s ease;
  cursor: pointer;
  padding: 8px;
}

.add-to-cart-button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.add-to-cart-section p {
  text-align: center;
  color: #1f2833
}

.game-name {
  font-size: 20px;
  font-weight: bolder;
  transition: border 0.2s ease;
  cursor: pointer;
}

.game-name:hover {
  color: white;
}

.stars span {
  color: orange
}

#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white 2px solid;
  margin: auto;
  margin-top: 100px;
  width: 400px;
  height: 520px;;
}
#signup p, #login p{
  font-weight: bolder;
  margin: 0px
}

#signup input, #login input {
  width: 200px;
  height: 20px;
  margin-bottom: 3px;
  border-radius: 8px;
}

#signup button, #login button {
  width: 205px;
  height: 30px;
  border-radius: 8px;
  font-family: 'Baloo 2', cursive;
  color: white;
  background-color: #1bf8e9;
  background: linear-gradient(31deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 0%, rgba(27,248,233,1) 100%);
  font-size: 16px;
  font-weight: bolder;
}

#signup button:active, #login button:active {
  background: #66FCF2CC;
  -webkit-box-shadow: inset 0px 0px 5px #1bf8e9;
     -moz-box-shadow: inset 0px 0px 5px #1bf8e9;
          box-shadow: inset 0px 0px 5px #1bf8e9;
  outline: none;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white 2px solid;
  margin: auto;
  margin-top: 100px;
  width: 400px;
  height: 320px;;
}

